#center-button {
    margin: auto;
    width: 90%;
    margin-top: 90%;
}

#img-logoSur {
    width: 4rem;
    display: inline-flex;
    margin-left: 2rem;
    margin-top: 17px;
}
.titleCard {
    font-size: small;
    font-weight: 400;
}

.btnAgregar {
    float: right;
    margin-right: 1rem;
}

.ordenar {
    margin-bottom: -4px;
    margin-top: 6px;
}

.labelTitle {
    display: inline-flex;
    vertical-align: top;
    margin: 1rem 0 0 1rem;
    font-weight: bold;
    color: #11c1e0;
}

.labelSubTitle {
    margin-left: 10.2rem;
    display: flex;
    margin-top: -1rem;
    font-size: smaller;
}

.label-color {
    margin: 0 0.5rem 0 0.5rem;
    color: #11c1e0;
}
